.card{
    float: right;
    text-align: center;
    line-height: 2rem;
    padding-top: 5%;
    padding-bottom: 5%;
}


/* .submit-btn{
    border-radius: 50%;
    width: 10vw;
    padding-left: 40%;
} */

.btn{
    border-radius: 50%;
}

/* .inputForm{
    padding-left: 30%;
} */