
body{
background-image: url(  "./img/retina_wood/retina_wood.png" );}
    */


    

.container{
  margin-top:2%;
  margin: 2% 12vw 2%;
}

.navbar {
  background-image: url("./img/morocco/morocco.png"    );
}