
.height{
    height: 20%;
} 

.display-block {
    display: initial;
  }
  
.display-none {
    display: none;
  }


.navbar{
    border-bottom: 5px solid rgb(117, 198, 176);
  }

.title-font{
  /* font-family: 'Sriracha', cursive; */
  /* font-family: 'Fredoka One', cursive; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
  }