<<<<<<< HEAD


.height{
    height: 20vh;
} 
=======
#login-button{
    float: right;
    margin-right: 0.5rem;
}

.display-block {
    display: initial;
  }
  
.display-none {
    display: none;
  }
>>>>>>> 4896594b57dfe1734648ca99bd9b54683a85158a
